@font-face {
    font-family: 'YekanBakh';
    src: url('../assets/fonts/YekanBakh/fonnts.com-YekanBakh-Regular.ttf') format('truetype');
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    direction: rtl !important;
    font-family: 'YekanBakh', YekanBakh;
    font-weight: normal;
    text-align: right;
    font-size: 12pt;
    color: #3B3B3B;
    background: #ffffff;
    overflow-x: hidden;
}



:root {
    --primary-color: #002147;
    --primary-cream: #d2b48c;
    --secondary-color:#7d5018;
    --shadow-md: 0px 0px 13px 0px #d2b48c;
    --bg-gray: #F3F3F3;
    --shadow-box: 0 0 15px rgba(0, 0, 0, 0.15);
    --text-primary: #1C1917;
    --text-gray: #78716C;
    --secondary-gray: #F3F3F3;
    --border: #E7E5E4;
    --primary-color100: #9ba8bd;
    --color-secondary100: #ea2340;
    --color-offerBox: #a16920;
}



.primary-text-color {
    color: var(--primary-color);
}

.primary-bg-color {
    background-color: var(--primary-color);
}

.bg-gray {
    background-color: var(--bg-gray);
}

.text-gray {
    color: var(--text-gray);
}

.text-primary-cream {
    color: var(--primary-cream);
}


img,
svg {
    vertical-align: middle;
}


a {
    color: var(--primary-color);
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}